.container
  .cta-review.mb-16
    img(loading="lazy", aria-hidden="true", src="media/img/icons/cta-review.svg", alt="")
    p
      strong Вам понравилось с нами работать?
      | Оставьте отзыв и поделитесь своим опытом!
    button(data-popup="review-popup", type="button", title="Оставить отзыв", class="btn btn-primary") Оставить отзыв