footer.footer
  .container
    .grid.grid-cols-3.gap-4
      a(href="/lanwu/", class="footer-logo")
        img(loading="lazy", src="/media/img/logo.png", alt="Логотип компании Lanwu")
        p Производство оборудования для очистки сточных вод
      nav.footer-nav
        a(title="О компании", href="/about.html") О компании
        a(title="Наши объекты", href="#") Наши объекты
        a(title="Услуги", href="#") Услуги
        a(title="Оборудование", href="/catalog.html") Оборудование
        a(title="Новости", href="#") Новости
        a(title="Статьи", href="#") Статьи
        a(title="Опросные листы", href="#") Опросные листы
        a(title="Контакты", href="#") Контакты
      address.footer-address
        p.text-right Москва, ул. Прокофьева 15 корпус 2 офис 4
        .flex.mt-6.gap-6.justify-end
          a(href="tel:88008888888", title="8 (800) 888-88-88") 8 (800) 888-88-88
          span.block.w-px.h-5.bg-white
          a(href="mailto:sale@lanwu.ru", title="Электронная почта компании Lanwu: sale@lanwu.ru", class="block") sale@lanwu.ru
//- up btn
button(id="to_top", type="button", title="Вверх")
//- popups
include popups.pug


