head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0",  ya-title="#01A2D8,", ya-dock='#01A2D8"')
  //-favicon
  link(rel="icon", type="image/x-icon", href="media/img/logo.png")
  //-Theme Color for most browsers
  meta(name="theme-color", content="#01A2D8")
  //-Apple Specific
  meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
  link(rel="apple-touch-icon", href="media/img/logo.png")
  //-Microsoft Windows Tiles
  meta(name="msapplication-TileColor", content="#01A2D8")
  meta(name="msapplication-TileImage", content="media/img/logo.png")
  //-Web Manifest
  //-<link rel="manifest" href="/manifest.json">
  link(rel="stylesheet", href="css/reset.css")
  link(rel="stylesheet", href="css/fonts.css")
  link(rel="stylesheet", href="css/popup.css")
  link(rel="stylesheet", href="css/push.css")
  link(rel="stylesheet", href="css/fancybox.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/mobile.css")
  script(src="https://cdn.tailwindcss.com")
  script(src="js/popup.js")
  script(src="js/push.js")
  script(src="js/imask.js")
  script(src="js/fancybox.umd.js")
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src="js/app.js")
  base(href="/lanwu/dist/")