//- header
header.header
  .container
    .flex.items-center.justify-between.pt-6.pb-8
      a(href="/lanwu/", class="header-logo")
        img(loading="lazy", src="media/img/logo.png", alt="Логотип компании Lanwu")
        p Производство оборудования для очистки сточных вод
      search.header-search
        form(action="#", class="header-search--form")
          label
            input(type="search", name="search", placeholder="Поиск по каталогу")
      address.header-address
        p.max-w-48.flex.items-start
          img(loading="lazy", src="media/img/icons/marker.svg", alt="" aria-hidden="true", class="mr-2.5")
          | Москва, ул. Прокофьева 15 корпус 2 офис 4
        div
          a(href="tel:+74951514132", title="Телефон компании Lanwu: +7 (495) 151-41-32", class="flex items-center mb-1")
            img(loading="lazy", src="media/img/icons/phone.svg", alt="" aria-hidden="true", class="mr-2.5")
            span +7 (495) 151-41-32
          a(href="mailto:sale@lanwu.ru", title="Электронная почта компании Lanwu: sale@lanwu.ru", class="flex items-center")
            img(loading="lazy", src="media/img/icons/mail.svg", alt="" aria-hidden="true", class="mr-2.5")
            span sale@lanwu.ru
      .header-btns
        a(href="#", download, title="Скачать каталог компании", class="btn btn-lite min-w-unset")
          img(loading="lazy", src="media/img/icons/download.svg", alt="" aria-hidden="true")
          span Скачать каталог
        button(title="Отправить запрос", type="button", class="btn btn-primary min-w-unset")
          | Отправить запрос