.top-menu
  nav.container
    .flex
      a(title="О компании", href="/about.html") О компании
      a(title="Наши объекты", href="#") Наши объекты
      a(title="Услуги", href="#") Услуги
      a(title="Оборудование", href="/catalog.html") Оборудование
      a(title="Новости", href="#") Новости
      a(title="Статьи", href="#") Статьи
      a(title="Опросные листы", href="#") Опросные листы
      a(title="Контакты", href="#") Контакты