section(class="container hero mt-16 mb-[72px]")
  .grid.grid-cols-2.gap-14
    img(loading="lazy", src="/media/img/hero.png", alt="", class="hero-img")
    .hero-text
      h1 LANWU
      p.hero-text--sub
        | Передовые технологии в производстве оборудования для очистки сточных
        | вод
      p
        | Наша миссия — обеспечивать чистоту и безопасность водных ресурсов,
        | внедряя инновационные и надежные решения. Наши системы очистки
        | используются в самых разных областях — от муниципальных очистных
        | сооружений до промышленных предприятий.
      p
        | Выбирая Lanwu, вы получаете высокое качество, надежность и
        | экологическую ответственность.
      a(href="/about.html", title="Подробнее о компании", class="btn btn-secondary mt-6")
        | Подробнее о компании
        img(loading="lazy", src="/media/img/icons/arrow-left-wh.svg", alt="" aria-hidden="true")