doctype html
html(lang="ru")
  //- head
  include includes/head.pug
  body
    //-loader
    include includes/loader.pug
    //- header
    include includes/header.pug
    //-top menu
    include includes/top-menu.pug
    //-breadcrumbs
    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumbs
          li
            a(href="/lanwu/", title="Главная") Главная
          li(aria-current="page") О компании
    //-content
    section.content
      .container
        h1.page-title.main.mb-8 О компании
        p
          | Компания LANWU — лидер в производстве оборудования для очистки сточных вод. С самого начала нашего пути мы
          | стремились к совершенству, разрабатывая инновационные системы очистки, которые удовлетворяют самые высокие
          | экологические стандарты. Наше оборудование находит применение в самых различных сферах — от городских
          | коммунальных систем до крупных промышленных объектов. Мы гордимся индивидуальным подходом к каждому клиенту,
          | обеспечивая уникальные решения для каждой конкретной задачи.
        .about-gallery
          img(data-fancybox="about-gallery", loading="lazy", src="media/img/about/1.jpg", data-caption="Компания LANWU", alt="Компания LANWU")
          img(data-fancybox="about-gallery", loading="lazy", src="media/img/about/2.jpg", data-caption="Компания LANWU", alt="Компания LANWU")
          img(data-fancybox="about-gallery", loading="lazy", src="media/img/about/3.jpg", data-caption="Компания LANWU", alt="Компания LANWU")
          img(data-fancybox="about-gallery", loading="lazy", src="media/img/about/4.jpg", data-caption="Компания LANWU", alt="Компания LANWU")
        h2.page-title.md.mb-8 Почему выбирают нас?
        ol.list-numeric.mb-16
          li
            h4 1. Надежные технологии и инновации
            p
              | В LANWU мы гордимся нашими передовыми технологиями, которые обеспечивают максимальную эффективность и
              | надежность в очистке вод. Наше оборудование разрабатывается с учетом последних научных достижений, что
              | позволяет нам предложить уникальные решения для каждой задачи.
          li
            h4 2. Индивидуальный подход
            p
              | Мы понимаем, что каждый проект по очистке сточных вод уникален, поэтому подходим к каждой задаче
              | индивидуально. Мы адаптируем наше оборудование и технологии под конкретные условия эксплуатации,
              | обеспечивая максимальную эффективность и долговечность.
          li
            h4 3. Экологическая ответственность
            p
              | Сохранение окружающей среды — один из наших приоритетов. Мы стремимся минимизировать воздействие на
              | природу, разрабатывая оборудование, которое не только эффективно очищает воду, но и способствует
              | устойчивому использованию природных ресурсов.
          li
            h4 4. Поддержка и сервис
            p
              | Мы ценим доверие наших клиентов и предлагаем комплексную поддержку на всех этапах работы. Наша команда
              | обеспечивает профессиональное обслуживание и своевременное техническое сопровождение, чтобы вы могли
              | сосредоточиться на своей основной деятельности.
        h2.page-title.md.mb-8 Основные направления нашей деятельности
        ul
          li
            | Создание оборудования для механической, физико-химической и биологической очистки промышленных и бытовых
            | сточных вод.
          li Проектирование очистных сооружений по индивидуальным требованиям.
          li Разработка и производство систем для очистки сточных вод.
          li Установка и наладка оборудования, поставка расходных материалов и запасных частей.
          li Обслуживание в гарантийный и постгарантийный периоды.

        .cta-sm.mt-8.mb-16
          p Сделать заказ на оборудование вы можете по телефону 
            a(href="tel:+74951514132") +7 (495) 151-41-32
        h2.page-title.flex.md.mb-8
          | Благодарственные письма
          a(href="/reviews.html") Все отзывы
        .reviews-block.mb-16
          img(data-fancybox="reviews-gallery", loading="lazy", src="media/img/review.jpg", data-caption="Благодарственное письмо", alt="Благодарственное письмо")
          img(data-fancybox="reviews-gallery", loading="lazy", src="media/img/review.jpg", data-caption="Благодарственное письмо", alt="Благодарственное письмо")
          img(data-fancybox="reviews-gallery", loading="lazy", src="media/img/review.jpg", data-caption="Благодарственное письмо", alt="Благодарственное письмо")
          img(data-fancybox="reviews-gallery", loading="lazy", src="media/img/review.jpg", data-caption="Благодарственное письмо", alt="Благодарственное письмо")
    //- cta callback
    include includes/cta-callback.pug
    //-footer
    include includes/footer.pug