doctype html
html(lang="ru")
  //- head
  include includes/head.pug
  body
    //-loader
    include includes/loader.pug
    //- header
    include includes/header.pug
    //-top menu
    include includes/top-menu.pug
    //-breadcrumbs
    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumbs
          li
            a(href="/lanwu/", title="Главная") Главная
          li
            a(href="/about.html", title="О компании") О компании
          li(aria-current="page") Вопросы и ответы
    section.content
      .container
        h1.page-title.main.mb-8 Каталог оборудования для очистки стоков
        p
          | Компания LANWU предлагает надежное и высокоэффективное оборудование для различных задач по очистке сточных вод
          | для промышленных и бытовых нужд.
        .catalog-grid.mt-8.mb-16
          a(href="/catalog2.html", title="Механическая очистка", class="catalog-grid--item")
            article
              img(loading="lazy", src="media/img/service-item.png", alt="Механическая очистка")
              h3 Механическая очистка
          a(href="/catalog2.html", title="Механическая очистка", class="catalog-grid--item")
            article
              img(loading="lazy", src="media/img/service-item.png", alt="Механическая очистка")
              h3 Механическая очистка
          a(href="/catalog2.html", title="Механическая очистка", class="catalog-grid--item")
            article
              img(loading="lazy", src="media/img/service-item.png", alt="Механическая очистка")
              h3 Механическая очистка
        section.catalog-items--wrp.mb-12
          h2.page-title.md.mb-8.flex
            | Механическая очистка
            a(href="/catalog2.html", title="Смотреть все") Смотреть все
          p
            strong Оборудование:
            | грабельные, ступенчатые решетки, шнековые транспортеры, скребковые
            | механизмы, решетки, барабанные сита, сепараторы песка, камнеуловители, комбинированные установки.
          p
            | Используется для предварительной очистки сточных вод от крупного мусора и твердых примесей, подготавливая
            | их к биологической или физико-химической очистке и обратному осмосу. Хозяйственные, бытовые и
            | производственные стоки содержат примеси различных фракций. На первом этапе через решетки и сита удаляются
            | крупные частицы, затем мелкие осаждаются в песколовках и фильтруются. Для оптимальной механической очистки
            | используются комбинированные установки, объединяющие несколько методов на одном этапе.
          ul.product-list.grid.grid-cols-6.gap-5.mt-8
            li
              include includes/product-card.pug
            li
              include includes/product-card.pug
            li
              include includes/product-card.pug
            li
              include includes/product-card.pug
            li
              include includes/product-card.pug
            li
              include includes/product-card.pug
        section.catalog-items--wrp.mb-12
          h2.page-title.md.mb-8.flex
            | Механическая очистка
            a(href="/catalog2.html", title="Смотреть все") Смотреть все
          p
            strong Оборудование:
            | грабельные, ступенчатые решетки, шнековые транспортеры, скребковые
            | механизмы, решетки, барабанные сита, сепараторы песка, камнеуловители, комбинированные установки.
          p
            | Используется для предварительной очистки сточных вод от крупного мусора и твердых примесей, подготавливая
            | их к биологической или физико-химической очистке и обратному осмосу. Хозяйственные, бытовые и
            | производственные стоки содержат примеси различных фракций. На первом этапе через решетки и сита удаляются
            | крупные частицы, затем мелкие осаждаются в песколовках и фильтруются. Для оптимальной механической очистки
            | используются комбинированные установки, объединяющие несколько методов на одном этапе.
          ul.product-list.grid.grid-cols-6.gap-5.mt-8
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
        section.catalog-items--wrp.mb-16
          h2.page-title.md.mb-8.flex
            | Механическая очистка
            a(href="/catalog2.html", title="Смотреть все") Смотреть все
          p
            strong Оборудование:
            | грабельные, ступенчатые решетки, шнековые транспортеры, скребковые
            | механизмы, решетки, барабанные сита, сепараторы песка, камнеуловители, комбинированные установки.
          p
            | Используется для предварительной очистки сточных вод от крупного мусора и твердых примесей, подготавливая
            | их к биологической или физико-химической очистке и обратному осмосу. Хозяйственные, бытовые и
            | производственные стоки содержат примеси различных фракций. На первом этапе через решетки и сита удаляются
            | крупные частицы, затем мелкие осаждаются в песколовках и фильтруются. Для оптимальной механической очистки
            | используются комбинированные установки, объединяющие несколько методов на одном этапе.
          ul.product-list.grid.grid-cols-6.gap-5.mt-8
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
            li
              article.product-card
                .product-img--wrp
                  img(loading="lazy", src="media/img/product.png", alt="")
                h3 Погружной насос WQ
                a(href="/product.html", title="Подробнее: Погружной насос WQ")
                  | Подробнее
                  img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
    //- cta info
    include includes/cta-info.pug
    section.content
      .container
        h2.page-title.md.mb-8 Сфера использования оборудования для очистки стоков
        p Вода с вредными примесями может причинить серьезный вред окружающей среде и человеку. Согласно Постановлению Правительства РФ №644 от 29.07.2013, вода для промышленных целей должна быть очищена до установленных норм. Каждое предприятие генерирует различные сточные воды, поэтому технологии очистки подбираются индивидуально на основе проектных данных.
        p Оборудование, производимое и поставляемое компанией LANWU, широко используется на станциях очистки бытовых и промышленных стоков. Использование устаревших очистных сооружений требует значительных ресурсов и может привести к остановке работы предприятия. Мы предлагаем современные решения, разработанные с учетом текущих требований к оборудованию.
        h2.page-title.md.mb-8.mt-16 Преимущества очистных систем компании LANWU
        p В ближайшие годы прогнозируется рост продаж установок для биологической и механической очистки, поэтому мы постоянно совершенствуем и ускоряем производство, поддерживая неизменно высокое качество продукции. Основой нашей работы является внимательное отношение к проблемам и пожеланиям клиентов. Собственный конструкторский отдел обеспечивает точные расчеты производительности оборудования для оптимизации затрат предприятий. Мы предлагаем сервисное обслуживание, шеф-монтаж и пусконаладочные работы.
    //- cta callback
    include includes/cta-callback.pug
    //-footer
    include includes/footer.pug