doctype html
html(lang="ru")
  //- head
  include includes/head.pug
  body
    //-loader
    include includes/loader.pug
    //- header
    include includes/header.pug
    //-top menu
    include includes/top-menu.pug
    //-breadcrumbs
    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumbs
          li
            a(href="/lanwu/", title="Главная") Главная
          li
            a(href="/catalog.html", title="Оборудование") Оборудование
          li(aria-current="page") Механическая очистка
    section
      .container
        h1.page-title.main.mb-8 Механическая очистка
        .catalog-page
          .catalog-list--wrp
            ul#catalog-list.catalog-list
              li
                a(href="/catalog2.html", title="Механическая очистка") Механическая очистка
                ul
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
              li
                a(href="/catalog2.html", title="Механическая очистка") Механическая очистка
                ul
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
              li
                a(href="/catalog2.html", title="Механическая очистка") Механическая очистка
                ul
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
                  li
                    a(href="/product.html", title="Погружной насос WQ") Погружной насос WQ
          .catalog-products--wrp
            ul.product-list.grid.grid-cols-3.gap-5
              li
                article.product-card
                  .product-img--wrp
                    img(loading="lazy", src="media/img/product.png", alt="")
                  h3 Погружной насос WQ
                  a(href="/product.html", title="Подробнее: Погружной насос WQ")
                    | Подробнее
                    img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
              li
                article.product-card
                  .product-img--wrp
                    img(loading="lazy", src="media/img/product.png", alt="")
                  h3 Погружной насос WQ
                  a(href="/product.html", title="Подробнее: Погружной насос WQ")
                    | Подробнее
                    img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
              li
                article.product-card
                  .product-img--wrp
                    img(loading="lazy", src="media/img/product.png", alt="")
                  h3 Погружной насос WQ
                  a(href="/product.html", title="Подробнее: Погружной насос WQ")
                    | Подробнее
                    img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
              li
                article.product-card
                  .product-img--wrp
                    img(loading="lazy", src="media/img/product.png", alt="")
                  h3 Погружной насос WQ
                  a(href="/product.html", title="Подробнее: Погружной насос WQ")
                    | Подробнее
                    img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
              li
                article.product-card
                  .product-img--wrp
                    img(loading="lazy", src="media/img/product.png", alt="")
                  h3 Погружной насос WQ
                  a(href="/product.html", title="Подробнее: Погружной насос WQ")
                    | Подробнее
                    img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
              li
                article.product-card
                  .product-img--wrp
                    img(loading="lazy", src="media/img/product.png", alt="")
                  h3 Погружной насос WQ
                  a(href="/product.html", title="Подробнее: Погружной насос WQ")
                    | Подробнее
                    img(loading="lazy", aria-hidden="true", src="media/img/icons/arrow-left.svg", alt="")
    .container
      .cta-info.mt-12.mb-16
        img(loading="lazy", src="media/img/icons/cta-info.svg", aria-hidden="true", alt="")
        p Получить подробную информацию о нашем оборудовании:
        .flex.gap-4
          button(data-popup="#", title="Запросить КП", type="button", class="btn btn-primary min-w-unset") Запросить КП
          a(href="#", download="", title="Скачать опросный лист", class="btn btn-blue min-w-unset border")
            img(loading="lazy", src="media/img/icons/download.svg", alt="" aria-hidden="true")
            span Скачать опросный лист
    section.content
      .container
        h2.page-title.md.mb-8 Актуальность механической очистки стоков
        p Механическая очистка сточных вод — ключевой этап, который удаляет крупный мусор, твердые минеральные и органические примеси, подготавливая воду к дальнейшей очистке. Современные предприятия широко используют эти системы, достигая эффективности до 98% в удалении нерастворенных веществ. Этот этап особенно важен, так как обеспечивает необходимую подготовку стоков для последующих методов физико-химической и биологической очистки.
        p Качественная первичная очистка воды снижает потребность в кислороде на этапе биологической очистки на 30%, что уменьшает себестоимость процесса. Актуальные методы включают:
        ol.list-numeric
          li
            h4.inline Процеживание.
            p.inline Удаление крупного мусора и твердых примесей через решетки и сита перед отстойником.
          li
            h4.inline Отстаивание.
            p.inline Удаление взвешенных и всплывающих примесей, включая жиры и масла, с помощью гравитационных и центробежных сил. Для повышения эффективности добавляют коагулянты и флокулянты.
          li
            h4.inline Фильтрование
            p.inline Удаление мелких нерастворимых частиц и гидроксидов металлов через пористый материал. Для глубокой очистки используются мембраны обратного осмоса.
    section.content.mt-16
      .container
        h2.page-title.md.mb-8 Устройства механической очистки сточных вод
        p В бытовых и промышленных сточных водах содержатся механические загрязнения, которые нужно удалить перед дальнейшей обработкой. Для этого используются различные виды оборудования:
        ol.list-numeric
          li
            h4.inline Барабанные сита.
            p.inline Удаляют до 30% крупных примесей и взвесей, обеспечивая автоматическую промывку для предотвращения засорения.
          li
            h4.inline Решетки.
            p.inline Бывают ступенчатые, шнековые и грабельные. Устраняют крупные включения (более 15 мм), что особенно подходит для канализационных насосных станций и очистных сооружений.
          li
            h4.inline Комбинированные установки Hydrig Kurp и Kurp-G.
            p.inline Очищают стоки от песка, механических примесей и масел, подготавливая их к биологической очистке. Это многофункциональное решение для комплексной очистки.
          li
            h4.inline Шнековые транспортеры.
            p.inline Перемещают осадок в автоматическом режиме, снижая эксплуатационные затраты и уменьшая загрязнение воздуха.
          li
            h4.inline Скребковые механизмы.
            p.inline Направляют песчаную смесь в песколовках к местам сбора и утилизации.
          li
            h4.inline Сепараторы песка.
            p.inline Используют гравитацию для осаждения песка, с последующим удалением осадка насосом.
          li
            h4.inline Камнеуловители.
            p.inline Собирают крупные фракции, защищая оборудование от повреждений и упрощая удаление мусора.
    section.cta-popup--wrp
      .container
        h3.page-title.md.mb-8 Свяжитесь с нами
        .cta-popup--flex
          p Не нашли ответ на свой вопрос? Оставьте свои контактные данные, и наши специалисты свяжутся с вами в ближайшее время.
          button(data-popup="#", type="button", title="Задать вопрос", class="btn btn-secondary") Задать вопрос
    //-footer
    include includes/footer.pug