doctype html
html(lang="ru")
  //- head
  include includes/head.pug
  body
    //-loader
    include includes/loader.pug
    //- header
    include includes/header.pug
    //-top menu
    include includes/top-menu.pug
    //-breadcrumbs
    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumbs
          li
            a(href="/lanwu/", title="Главная") Главная
          li
            a(href="/about.html", title="О компании") О компании
          li(aria-current="page") Вопросы и ответы
    section.content
      .container
        h1.page-title.main.mb-8 Вопросы и ответы
        .faq-wrp.mb-32
          details.details
            summary Какая стоимость оборудования?
            .details-content
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto exercitationem velit, pariatur earum repellendus! Tempore reprehenderit enim cupiditate debitis possimus consequatur qui nostrum quasi sit laborum! Laudantium, earum incidunt.
          details.details
            summary Какая стоимость оборудования?
            .details-content
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto exercitationem velit, pariatur earum repellendus! Tempore reprehenderit enim cupiditate debitis possimus consequatur qui nostrum quasi sit laborum! Laudantium, earum incidunt.
          details.details
            summary Какая стоимость оборудования?
            .details-content
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto exercitationem velit, pariatur earum repellendus! Tempore reprehenderit enim cupiditate debitis possimus consequatur qui nostrum quasi sit laborum! Laudantium, earum incidunt.
          details.details
            summary Какая стоимость оборудования?
            .details-content
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto exercitationem velit, pariatur earum repellendus! Tempore reprehenderit enim cupiditate debitis possimus consequatur qui nostrum quasi sit laborum! Laudantium, earum incidunt.
          details.details
            summary Какая стоимость оборудования?
            .details-content
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto exercitationem velit, pariatur earum repellendus! Tempore reprehenderit enim cupiditate debitis possimus consequatur qui nostrum quasi sit laborum! Laudantium, earum incidunt.
    //- cta callback
    include includes/cta-callback.pug
    //-footer
    include includes/footer.pug